%h2= t '.title'
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .form-group.row
    = f.label :email, class: 'col-sm-2 col-form-label'
    .col-sm-8= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
  .form-group.row
    .col-sm-8= f.submit t('.resend_instructions'), class: 'btn btn-primary'
= render 'devise/shared/links'
