%h1= t '.title'
%p
  = t '.guide'

%h2 #{t('.your_links')}:

#tokens
  - if @share_tokens.any?
    = render @share_tokens
  - else
    %p#no_tokens_message= t '.no_links'

#new_token.mt-1
  = form_with model: ShareToken.new, local: false, namespace: 'new_token_' do |f|
    = f.button class: 'btn btn-primary' do
      %i.bi.bi-plus-square-fill.mr-1
      = t '.generate'
