-# locals: date entries
%tr
  %td= time_tag date
  %td{ id: "num_readings_#{date.to_formatted_s(:number)}" }= entries.length
  %td= button_tag t('.expand'), type: 'button', data: { toggle: 'collapse', target: "#date_#{date.to_formatted_s(:number)}", collapsetext: t('.collapse'), expandtext: t('.expand') }, aria: { expanded: false, controls: "date_#{date.to_formatted_s(:number)}" }, class: 'btn btn-primary btn-block'
%tr.collapse.toggle-expand-text{ id: "date_#{date.to_formatted_s(:number)}" }
  %td{ colspan: '5' }
    .table-responsive.border.border-dark
      %table.table.table-hover
        = render 'day_table_head'
        %tbody
          = render entries
          %tr{ id: "new_entry_#{date.to_formatted_s(:number)}" }
            %td{ colspan: 7 }
              .card.bg-transparent.border-1.border-dark
                %h2.card-header.p-0.border-0= button_tag 'New entry', type: 'button', data: { toggle: 'collapse', target: "#form_#{date.to_formatted_s(:number)}" }, aria: { expanded: false, controls: "form_#{date.to_formatted_s(:number)}" }, class: 'btn btn-primary btn-block text-left'
                .card-body.collapse{ id: "form_#{date.to_formatted_s(:number)}" }
                  = render partial: 'form', locals: { entry: Entry.new(time: Time.now), date: date }
