%h1 Log entries

= link_to share_tokens_url, class: 'btn btn-info mb-2 mt-2' do
  = bs_icon 'share'
  .ml-1= t '.share'

= lazy_turbo_frame_tag card_new_entry_id(nil), src: blank_new_entry_path

= lazy_turbo_frame_tag entries_id, src: group_entries_path
