.jumbotron.jumbotron-fluid
  .container
    %h1.display-4
      - if user_signed_in?
        = t '.welcome_user', name: current_user.name
      - else
        = t '.welcome'
    %p.lead= t '.lead'
    %hr.my-4
    - if user_signed_in?
      = link_to t('.view_log'), entries_path, class: 'btn btn-primary btn-lg'
    - else
      %p= t '.need_account'
      = link_to t('.sign_up'), new_user_registration_path, class: 'btn btn-primary btn-lg'
      = link_to t('.login'), new_user_session_path, class: 'btn btn-secondary btn-lg'
