!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Diabetes Monitor
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .bg-light
      .container
        = render partial: 'navigation'
    %main.pt-2
      .container
        - if flash[:notice]
          .alert.alert-primary= flash[:notice]
        - if flash[:alert]
          .alert.alert-danger= flash[:alert]
        = yield
    = render partial: 'footer'
