!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Diabetes Monitor
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .bg-light
      .container
        = render 'navigation'
    %main.pt-2
      .container
        #alerts.sticky-top{ data: { 'turbolinks-permanent': true } }
          - if notice
            = render 'shared/alert', alert_type: 'alert-primary' do
              = notice
          - if alert
            = render 'shared/alert', alert_type: 'alert-danger' do
              = alert
        = yield
    = render 'footer'
