!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Diabetes Monitor
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body
    .bg-light
      .container
        = render 'navigation'
    %main.pt-2
      .container
        #alerts.sticky-top
          - if notice
            = render 'shared/alert', alert_type: 'alert-primary' do
              = notice
          - if alert
            = render 'shared/alert', alert_type: 'alert-danger' do
              = alert
        = yield
    = render 'footer'
